* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .brand-title{
    font-size: 2rem;
    margin: .5rem;
    color: #9055A2;
  }
  
  .navbar-links ul{
    display:flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li{
    list-style: none;
  }
  
  .navbar-links li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
  }
  
  .navbar-links li:hover>a{
    font-size: 115%;
    color: #9055A2;
  }
  
  .navbar-links .navActive{
    color: #9055A2;
  }
  