body{
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  grid-template-areas:
  "header header header header"
  "main main main main"
  ". . . footer";
}

  header{
    grid-area: header;
    position:relative;
  }

main{
  grid-area: main;
}

footer{
  grid-area: footer;
}

h3{
  padding: 0;
  margin-bottom: 3px;
}

h4{
  padding: 0;
  margin-top: 0;
}

.characterHeader{
  background: url(../img/grouppic.jpg) no-repeat center top fixed;
  background-size: cover;
}

.webshopHeader{
  background: url(../img/KiritoAsuna.jpg) no-repeat center top fixed;
  background-size: cover;
}

.cardWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  padding-left: 1rem;
}
.card{
  list-style: none;
  text-align: center;
  background-color: #2E294E;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.2s all;
  animation: cardDistortion;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.7);
}

.figImg{
  padding: 0;
  margin: 0;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.imageCharacter{
  width: 198px;
  height: 300px; 
}


.imageWeb{
  width: 198px;
  height: 280px;
  cursor: pointer;
}


@media only screen and (max-width: 600px){
  .cardWrapper{
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 20px;
  }
  footer{
    grid-column-start: 2;
  }
  footer>p{
    font-size: 80%;
  }
}

@media only screen and (min-width:600px) and (max-width:900px){
  .cardWrapper{
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding:20px;
  }

  footer{
    grid-column-start: 2;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px){
  .cardWrapper{
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding:20px;
  }

  footer{
    grid-column-start: 2;
  }
}
