body{
  height: 100vh;
}

header{
  position: relative;
}

footer{
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

#header{
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  transition: background-image 0.5s ease;
}

#homepageBrandtitle{
  opacity: 0;
  cursor: default;
}

.btnWiki{
  display: block;
  color: white;
  background-color: #2E294E;
  padding: 12px 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: none;
  font-size: 18px;

  border-radius: 8px;
  box-shadow:1px 1px #9055A2,
              2px 2px #9055A2;
}

.btnWiki:hover{
  background-color: #9055A2;
  cursor: pointer;
}

.btnWiki a, .btnWiki a:visited{
  color: white;
  text-decoration: none;
}
