*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-size: 18px;
  font-family: "miss fajardose";
  font-weight: 500;
  box-sizing: border-box;
  background-color: #011638;
}

p{
  color: white;
}


header{
  text-align: center;
  height: 90vh;
  position: relative;
  margin-bottom: 100px;
  animation-name: fadeIn;
  animation-duration: 5s;

}
.overlay>h1{
  color: #9055A2;
  font-size: 300%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow:1px 1px #2E294E,
              2px 2px #2E294E;

  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  }

.overlay>h3{
  color: #9055A2;
  font-size: 150%;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow:1px 1px #2E294E,
              2px 2px #2E294E;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

header>p{
  color: white;
}

main{
  width: 75%;
  padding: 20px;
  margin: 0 auto;
}

table{
  color: #D499B9;
  background: #2E294E;
  width: 100%;
  padding: 0.4em;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
}
table th{
  font-size: 1.2em;
  font-weight: bold;
}

iframe{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.homepage{
  height: 95vh;
}

.navbar{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.brand-title{
  font-size: 3rem;
  margin: .5rem 1rem;
  color: #9055A2;
  text-decoration: none;
}

.navbar-links ul{
  display:flex;
  margin: 0;
  padding: 0;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  color: #fff;
  text-shadow: #011638 0.2rem 0 0.2rem;
  border: #2E294E;
  padding: 1rem;
}

.navbar-links li a:hover{
  font-size: 1.75rem;
  color: #9055A2;
}

.navbar-links .navActive{
  color: #9055A2;
}

.toggle-button{
  position: absolute;
  top: center;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 
@media only screen and (max-width:1000px){
header{
  height: 30vh;
  }
  .overlay>h1{
    display: none;
  }
} */

@media only screen and (max-width:900px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links{
    display: none;
    width: 100%;
  }

  .navbar-links ul{
    width: 100%;
    flex-direction: column;

  }

  .navbar-links li{
    text-align: center;

  }

  .navbar-link li a{
    padding: .5rem .5rem;
  }

  .nav-links.active{
    display: flex;
  }

  

}

@media only screen and (max-width: 500px){
  .brand-title{
    font-size: 2rem;
  }
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
